# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Test

on:
  push:
    branches:
      - main
  pull_request:

# No GITHUB_TOKEN permissions, as we only use it to increase API limit.
permissions: {}

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout (dex)
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup Node (dex)
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .nvmrc
          cache: npm

      - name: Install (dex)
        run: npm ci
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Lint prettier
        run: npm run prettier-check

      - name: Lint ESLint
        run: npm run eslint

      - name: Check TypeScript
        run: npm run check:tsc

  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout (dex)
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup Node (dex)
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .nvmrc
          cache: npm

      - name: Install (dex)
        run: npm ci
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Unit testing libs
        run: npm run test:libs
